<p id="notice"><%= notice %></p>


<section class="events row">
  <hgroup>
    <h2 class="large-6 columns">Events I'm hosting:</h2>
    <h2 class="large-6 columns">Upcoming events:</h2>
  </hgroup>
  <section class="large-6 columns">
    <% Tour.organized_by(@current_user).each do |tour| %>
      <h3>
        <%= link_to tour.name, tour_path(tour)%>
        <%= link_to edit_tour_path(tour), class: 'borderless-button' do %>
          <%= fa_icon :'pencil fw' %>
        <% end %>
      </h3>
      <p><%= tour.starting_at.strftime("%A, %d %B %Y @ %l:%M %p") %></p>
    <% end %>    
  </section>
  <section class="large-6 columns">
    <% Tour.open_to(@current_user).each do |tour| %>
      <h3><%= link_to tour.name, tour_path(tour)%></h3>
      <p><%= tour.starting_at.strftime("%A, %d %B %Y @ %l:%M %p") %></p>      
    <% end %>
  </section>   
</section>
