<%= form_for @user, builder: FoundationFormBuilder, class: 'content' do |f| %>
  <%= f.text_field :name, autofocus: true, required: true,
          placeholder: "John Doe", label: 'Username' %>
          
  <%= f.email_field :email, required: true,
          placeholder: "johndoe@gmail.com", label: 'E-mail' %>

  <%= f.url_field :avatar_url,
          placeholder: "http://derp.com/derp.png", label: 'Avatar URL' %>

  <%= f.password_field :password, required: true,
          placeholder: "be clever", label: 'Password' %>

  <%= f.password_field :password_confirmation, required: true,
          placeholder: "be clever", label: 'Re-enter your password' %>

  <div class="row">
    <%= button_tag class: 'large button expand' do %>
      <%= fa_icon :plus %> Sign Up
    <% end %>
  </div>

<% end %>
