<p id="notice"><%= notice %></p>

<p>Hello, <%= @current_user.name %>!</p>

<%= link_to "New Event", new_tour_path %> |
<%= link_to "Log out", root_url, method: :delete %>

<h1>My Events:</h1>
<h2>Tours I'm hosting:</h2>

<% Tour.where(organizer: @current_user).each do |tour| %>
  <h3><%= tour.name %> | <%= tour.city.name %></h3>
  <p>Starting at: <%= tour.starting_at %></p>
  <%= link_to "Edit Tour", edit_tour_path(tour) %> |
  <%= link_to "View Tour", tour_path(tour) %>
<% end %>

<h2>Tours I'm attending:</h2>

<% Invitation.where(user: @current_user).each do |invitation| %>
  <h3><%= invitation.tour.name %> | <%= invitation.tour.city.name %></h3>
  <p>Starting at: <%= invitation.tour.starting_at %></p>
  <%= link_to "View Tour", tour_path(invitation.tour)%>
<% end %>

<h1>My friends:</h1>
<%= link_to "Find friends", users_path %>
<ol>
<% Friendship.where(user_id: @current_user.id).each do |friendship| %>
    <li><%= image_tag avatar_url(User.find(friendship.friend_id)) %><%= User.find(friendship.friend_id).name %></li>
<% end %>
</ol>
