<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Title:' %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :city, 'City:' %><br>
    <%= f.collection_select :city_id, City.order(:name), :id, :name, :include_blank => "Please select a city..." %>
  </div>
  <div class="field">
    <%= f.label :starting_at, 'Day & Starting Time:' %><br>
    <%= f.datetime_select :starting_at %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
