<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_for @tour, builder: FoundationFormBuilder::Icons do |f| %>
  <%= f.text_field :name,
          placeholder: 'My New Tour', autofocus: true, required: true,
          label: { icon: fa_icon('child'), title: 'Tour name'} %>
          
  <%= f.collection_select :city_id, City.order(:name), :id, :name,
          include_blank: 'Which city are we touring?', required: true,
          label: { icon: fa_icon('map-marker'), title: 'City' } %>

  <%= f.datetime_local_field :starting_at,
          required: true,
          label: { icon: fa_icon('calendar'), title: 'Starting time' } %>
          
  <%= f.text_field :image,
          placeholder: '(Optional) images.google.com/potato.png',
          label: { icon: fa_icon('file-image-o'), title: 'Image' }%>
          
  <%= f.text_area :description,
          placeholder: '(Optional) Leave a description of your event!',
          label: { icon: fa_icon('quote-left'), title: 'Description' } %>

  <div class="form-submit-controls row">
    <%= button_tag class: 'large button expand' do %>
      <%= fa_icon :save %> Save Tour
    <% end %>
  </div>
<% end %>
