<span class="status-decision-buttons">
  <%= form_for tour_stop do |f| %>
    <%= f.hidden_field :tour_id %>
    <%= f.hidden_field :status, value: 'yes' %>
    <% if tour_stop.status === 'yes' %>
      <%= f.button type: :submit, disabled: true, class: 'borderless-button' do %>
        <%= fa_icon :'check 2x fw' %>
      <% end %>
    <% else %>
      <%= f.button type: :submit, class: 'borderless-button' do %>
        <%= fa_icon :'check 2x fw' %>
      <% end %>
    <% end %>
  <% end %>
  <%= form_for tour_stop do |f| %>
    <%= f.hidden_field :tour_id %>
    <%= f.hidden_field :status, value: 'no' %>
    <% if tour_stop.status === 'no' %>
      <%= f.button type: :submit, disabled: true, class: 'borderless-button' do %>
        <%= fa_icon :'times 2x fw' %>
      <% end %>
    <% else %>
      <%= f.button type: :submit, class: 'borderless-button' do %>
        <%= fa_icon :'times 2x fw' %>
      <% end %>
    <% end %>
  <% end %>
</span>