<%= content_tag :li, class: tour_stop_li_class(tour_stop), data: tour_stop_li_data(tour_stop) do %>

  <section class="proposal-header row" data-equalizer>
    <div class="voting-controls large-2 columns" data-equalizer-watch>
      <div>
        <%= button_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: 1), class: 'upvote-button borderless-button' do %>
          <%= fa_icon :'chevron-up lg fw' %>
        <% end %>
      </div>
      <h3><%= tour_stop.total_score %></h3>
      <div>
        <%= button_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: -1), class: 'downvote-button borderless-button' do %>
          <%= fa_icon :'chevron-down lg fw' %>
        <% end %>
      </div>
    </div><!-- End of voting controls -->
    
    <div class="organizer-controls large-10 columns" data-equalizer-watch>
      <h5>
        <span class="venue-link-with-dropdown"><%= link_to tour_stop.venue.name, "//www.yelp.com/biz/#{tour_stop.venue.yelp_id}", target: "_blank", data: venue_name_data(tour_stop.venue) %></span>
        
        <%= render partial: "venues/venue_dropdown", locals: {venue: tour_stop.venue} %>
        
        <% if @tour.organized_by?(@current_user) && @tour.status == "pending" %>
          <%= render partial: "tours/status_decision_buttons", locals: {tour_stop: tour_stop} %>
        <% end %>
      </h5><!-- End of proposed venue name -->
      <section id="voting-histogram">
        <div>
          <%= fa_icon :'chevron-up fw', class: 'upvote-button' %>
          <% tour_stop.votes.where(score: 1).each do |vote| %>
            <%= avatar_tag vote.voter, "small" %>
          <% end %>
        </div>
        <div>
          <%= fa_icon :'chevron-down fw', class: 'downvote-button' %>
          <% tour_stop.votes.where(score: -1).each do |vote| %>
            <%= avatar_tag vote.voter, "small" %>
          <% end %>
        </div>
      </section><!-- End of voting histogram -->
    </div><!-- End of venue description -->
  </section><!-- End of main proposal section -->
  
  <section class="proposal-comments row">
    <div class="large-10 large-offset-2 columns">
      <%= render partial: "tours/comment", collection: tour_stop.comments, as: :comment %>
      
      <% if @tour.status == "pending" && @current_user.attending?(@tour) %>
        <%= render partial: "comments/form", locals: {tour_stop: tour_stop} %>
      <% end %>
    </div>
  </section><!-- End of comments section -->

<% end %>
