<%= content_tag :li, class: voting_line_item_li_class(tour_stop), 
      data: { venue_name: tour_stop.venue.name, venue_lat: tour_stop.venue.latitude, venue_lng: tour_stop.venue.longitude } do %>

  <section class="proposal-header row" data-equalizer>
    <div class="voting-controls large-2 columns" data-equalizer-watch>
      <div>
        <%= button_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: 1), class: 'upvote-button borderless-button' do %>
          <%= fa_icon :'chevron-up lg fw' %>
        <% end %>
      </div>
      <h3><%= tour_stop.total_score %></h3>
      <div>
        <%= button_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: -1), class: 'downvote-button borderless-button' do %>
          <%= fa_icon :'chevron-down lg fw' %>
        <% end %>
      </div>
    </div><!-- End of voting controls -->
    
    <div class="organizer-controls large-10 columns" data-equalizer-watch>
      <h4>
        <span><%= tour_stop.venue.name %></span>
        <% if @tour.organized_by?(@current_user) && @tour.status === "pending" %>
          <%= render partial: "tours/status_decision_buttons", locals: {tour_stop: tour_stop} %>
        <% end %>
      </h4>
    </div><!-- End of venue description -->
  </section><!-- End of main proposal section -->
  
  <section class="proposal-comments row">
    <div class="large-10 large-offset-2 columns">
      <%= render partial: "tours/comment", collection: tour_stop.comments, as: :comment %>
      
      <% if @tour.status === "pending" %>
        <!-- <article> -->
          <%= render partial: "comments/form", locals: {tour_stop: tour_stop} %>
        <!-- </article> -->
      <% end %>
    </div>
  </section><!-- End of comments section -->

<% end %>
