<li>
  <article class="row">
    <section class="venue row">
      <div class="large-2 columns">
        <div class="row">
          <%= link_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: 1) do %>
            <%= fa_icon :'chevron-up fw' %>
          <% end %>
        </div>
        <div class="row"><%= tour_stop.total_score %></div>
        <div class="row">
          <%= link_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: -1) do %>
            <%= fa_icon :'chevron-down fw' %>
          <% end %>
        </div>
      </div>
      <div class="large-8 columns">
        <div class="row"><%= tour_stop.venue.name %></div>
      </div>
      <div class="large-2 columns">
        <% if @tour.organized_by?(@current_user) && @tour.status === "pending" %>
          <%= render partial: "status_decision_buttons", locals: {tour_stop: tour_stop} %>
        <% end %>
      </div>
    </section>
    <section class="comments row">
      <%= render partial: "comment", collection: tour_stop.comments, as: :comment %>
      <% if @tour.status === "pending" %>
        <%= link_to new_comment_path(tour_stop_id: tour_stop.to_param) do %>
          <%= fa_icon :'comment-o' %>
        <% end %>
      <% end %>
    </section>
  </article>
</li>

<!--
<%= form_tag new_comment_path, method: :get do %>
  <%= hidden_field_tag :tour_stop_id, tour_stop.to_param %>
  <%= button_tag do %>
    Post a comment
  <% end %>
<% end %>
-->


<!--<%= button_to "Accept", tour_stop_path(tour_stop, status: "yes"), method: :patch %>-->
