<li>
  <section class="main row" data-equalizer>
    <div class="controls large-1 columns" data-equalizer-watch>
      <div>
        <% if tour_stop.upvoted_by(@current_user) %>
          <%= button_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: 1), class: 'red borderless-button' do %>
            <%= fa_icon :'chevron-up lg fw' %>
          <% end %>
        <% else %>
          <%= button_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: 1), class: 'borderless-button' do %>
            <%= fa_icon :'chevron-up lg fw' %>
          <% end %>
        <% end %>        
      </div>
      <h3><%= tour_stop.total_score %></h3>
      <div>
        <% if tour_stop.downvoted_by(@current_user) %>
          <%= button_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: -1), class: 'red borderless-button' do %>
            <%= fa_icon :'chevron-down lg fw' %>
          <% end %>
        <% else %>
          <%= button_to votes_tally_path(tour_stop_id: tour_stop.to_param, score: -1), class: 'borderless-button' do %>
            <%= fa_icon :'chevron-down lg fw' %>
          <% end %>
        <% end %>        
      </div>
    </div><!-- End of voting controls -->
    
    <div class="post large-11 columns" data-equalizer-watch>
      <h3>
        <span><%= tour_stop.venue.name %></span>
        <% if @tour.organized_by?(@current_user) && @tour.status === "pending" %>
          <%= render partial: "status_decision_buttons", locals: {tour_stop: tour_stop} %>
        <% end %>
      </h3>
    </div><!-- End of venue description -->
  </section><!-- End of main proposal section -->
  
  <section class="comments row">
    <div class="large-11 large-offset-1 columns">
      <%= render partial: "comment", collection: tour_stop.comments, as: :comment %>
      <% if @tour.status === "pending" %>
        <article>
          <%= link_to new_comment_path(tour_stop_id: tour_stop.to_param), class: 'borderless-button' do %>
            <%= fa_icon :'comment-o' %>
          <% end %>
        </article>
      <% end %>
    </div>
  </section><!-- End of comments section -->
</li>