<p id="notice"><%= notice %></p>

<hgroup>
  <div class="row">
    <div class="large-9 columns">
      <h1>
        <%= @tour.name %>
        <span class="tour-controls">
          <% if @tour.organized_by?(@current_user) %>
              <%= link_to edit_tour_path(@tour), class: 'borderless-button' do %>
                <%= fa_icon :'pencil fw' %>
              <% end %>
              <%= render partial: "finalization_button" %>
          <% else %>
              <%= render partial: "rsvp_button" %>
          <% end %> 
        </span>
      </h1>
    </div>
    <div class="large-3 columns">
      by<%= avatar_and_name_tag @tour.organizer, "large" %>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <h3><%= @tour.starting_at.strftime("%A, %d %B %Y @ %l:%M %p") %></h3>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <%= content_tag :p, id: "description", data: { tour_city_name: @tour.city.name, tour_city_lat: @tour.city.latitude, tour_city_lng: @tour.city.longitude } do %>
        <%= @tour.description %>
      <% end %>
    </div>
  </div>
</hgroup>


<div class="guests row">
  <div class="large-12 columns avatar-list">
    <%= link_to new_e_invitation_path(tour_id: @tour.to_param), class: 'success button' do %>
      <%= fa_icon :'plus' %> Invite!
    <% end %>
    <% Invitation.where(tour_id: @tour.id).each do |invitation| %>
      <%= avatar_tag invitation.recipient, "small" %>
    <% end %>
  </div>
</div>


<div class="venue-navbar row">
  <div class="large-12 columns">
    <div data-magellan-expedition="fixed">
      <dl class="sub-nav">
        <dt>Venues:</dt>
        <dd data-magellan-arrival="proposed"><a href="#proposed">Proposed</a></dd>
        <dd data-magellan-arrival="accepted"><a href="#accepted">Accepted</a></dd>
        <dd data-magellan-arrival="rejected"><a href="#rejected">Rejected</a></dd>
        <% if @tour.status == 'pending' && @tour.invitation_for(@current_user) %>
          <dd><%= link_to new_tour_stop_path(tour_id: @tour.to_param), class: 'success radius button' do %>
                <%= fa_icon :'plus-circle' %> Add a tour stop
              <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>


<div class="tour-stops row">
  <div class="large-6 columns">
    <hr />
    <section id="proposed">
      <h4 data-magellan-destination="proposed">Proposed venues:</h4>
      <ol>
        <%= render partial: "tours/tour_stop", 
                   collection: @tour.tour_stops.where(status: 0).sort_by(&:total_score).reverse, 
                   as: :tour_stop %>
      </ol>
    </section>
    <hr />
    <section id="accepted">
      <h4 data-magellan-destination="accepted">Accepted venues:</h4>
      <ol>
        <%= render partial: "tours/tour_stop", 
                   collection: @tour.tour_stops.where(status: 1).sort_by(&:total_score).reverse, 
                   as: :tour_stop %>
      </ol>
    </section>
    <hr />
    <section id="rejected">
      <h4 data-magellan-destination="rejected">Rejected venues:</h4>
      <ol>
        <%= render partial: "tours/tour_stop", 
                   collection: @tour.tour_stops.where(status: 2).sort_by(&:total_score).reverse, 
                   as: :tour_stop %>
      </ol>
    </section>
  </div><!-- End of written proposals -->
  
  <div class="large-6 columns">
    <div id="tour-stops-map"></div>
  </div><!-- End of map -->
</div>



