<%= link_to 'Home', root_path %> |
<%= link_to "Log out", root_url, method: :delete %>

<p id="notice"><%= notice %></p>

<h1><%= @tour.name %></h1>

<p>
  <strong>Organizer:</strong>
  <%= image_tag avatar_url(@tour.organizer) %>
  <%= @tour.organizer.name %>
</p>

<p>
  <strong>Begins:</strong>
  <%= @tour.starting_at %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tour.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>



<%= hidden_div_if(!@tour.organized_by?(@current_user)) do %>
  <%= @tour.status %> | <%= link_to 'Edit', edit_tour_path(@tour) %>
<% end %>



<%= hidden_div_if(@tour.organized_by?(@current_user)) do %>
  <%= render partial: "rsvp_button" %>
<% end %>



<!-- User can only propose tour stops for a pending tour if she has an invitation to the event. -->
<%= hidden_div_if(!((@tour.status === "pending") && (@tour.invitation_for(@current_user).exists?))) do %>
  <%= link_to 'Propose a tour stop', new_tour_stop_path(tour_id: @tour.to_param) %>
<% end %>



<p>Proposed venues:</p>
<ol>
  <%= render partial: "voting_line_item", collection: @tour.tour_stops, as: :tour_stop %>
</ol>



<%= hidden_div_if(!@tour.organized_by?(@current_user) || @tour.status === "finalized") do %>
  <%= form_for @tour do |f| %>
    <%= f.hidden_field :status, value: 'finalized' %>
    <%= f.submit "Finalize itinerary" %>
  <% end %>
<% end %>



<p>People attending:</p>
<ol>
  <% Invitation.where(tour_id: @tour.id).each do |invitation| %>
  <li><%= image_tag avatar_url(invitation.user) %><%= invitation.user.name %></li>
  <% end %>
</ol>