<p id="notice"><%= notice %></p>

<hgroup>
  <div class="row">
    <div class="large-8 columns">
      <h1><%= @tour.name%></h1>
    </div>
    <div class="large-2 columns">
      <ul class="inline-list">
        <% if @tour.status === 'pending' && @tour.invitation_for(@current_user).exists? %>
          <li>
            <%= link_to new_tour_stop_path(tour_id: @tour.to_param) do %>
              <%= fa_icon :'plus-circle 2x fw' %>
            <% end %>
          </li>
        <% end %>
        <% if @tour.organized_by?(@current_user) %>
          <li>
            <%= link_to edit_tour_path(@tour) do %>
              <%= fa_icon :'edit 2x fw' %>
            <% end %>
          </li>
          <li><%= render partial: "finalization_button" %></li>
        <% else %>
          <li><%= render partial: "rsvp_button" %></li>
        <% end %>
      </ul>
    </div>
    <div class="large-2 columns">
      by<h3><%= image_tag avatar_url(@tour.organizer) %> <%= @tour.organizer.name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="large-10 columns">
      <h3><%= @tour.starting_at.strftime("%A, %d %B %Y @ %l:%M %p") %></h3>
    </div>
  </div>
  <div class="row">
    <div class="large-10 columns">
      <p id="description"><%= @tour.description %></p>
    </div>
    <% if @tour.status === 'pending' && @tour.invitation_for(@current_user).exists? %>
      <div class="large-2 columns">
        <ul>
          <li>
            <%= link_to new_tour_stop_path(tour_id: @tour.to_param) do %>
              <%= fa_icon :'plus-circle 5x fw' %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</hgroup>



<div class="row">
  <div class="large-10 columns">
    <div data-magellan-expedition="fixed">
      <dl class="sub-nav">
        <dt>Venues:</dt>
        <dd data-magellan-arrival="proposed"><a href="#proposed">Proposed</a></dd>
        <dd data-magellan-arrival="accepted"><a href="#accepted">Accepted</a></dd>
        <dd data-magellan-arrival="rejected"><a href="#rejected">Rejected</a></dd>
      </dl>
    </div>
    <hr />
    <section id="proposed">
      <h4 data-magellan-destination="proposed">Proposed venues:</h4>
      <ol>
        <%= render partial: "voting_line_item", 
                   collection: @tour.tour_stops.where(status: 0).sort_by(&:total_score).reverse, 
                   as: :tour_stop %>
      </ol>
    </section>
    <hr />
    <section id="accepted">
      <h4 data-magellan-destination="accepted">Accepted venues:</h4>
      <ol>
        <%= render partial: "voting_line_item", 
                   collection: @tour.tour_stops.where(status: 1).sort_by(&:total_score).reverse, 
                   as: :tour_stop %>
      </ol>
    </section>
    <hr />
    <section id="rejected">
      <h4 data-magellan-destination="rejected">Rejected venues:</h4>
      <ol>
        <%= render partial: "voting_line_item", 
                   collection: @tour.tour_stops.where(status: 2).sort_by(&:total_score).reverse, 
                   as: :tour_stop %>
      </ol>
    </section>
  </div>
  
  <div class="large-2 columns">
    <h4>Guests:</h4>
    <ul>
      <% Invitation.where(tour_id: @tour.id).each do |invitation| %>
        <li><%= image_tag avatar_url(invitation.user) %> <%= invitation.user.name %></li>
      <% end %>
    </ul>
  </div>
</div>


