<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= image_tag avatar_url(@tour.organizer) %>
  <%= @tour.organizer.name %>
</p>

<p>
  <strong>Day & Starting time:</strong>
  <%= @tour.starting_at %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tour.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>


<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Home', root_path %> |
<%= link_to "Log out", root_url, method: :delete %>

<%= render partial: "rsvp_button" %>


<p>People attending:</p>
<ol>
  <% Invitation.where(tour_id: @tour.id).each do |invitation| %>
  <li><%= image_tag avatar_url(invitation.user) %><%= invitation.user.name %></li>
  <% end %>
</ol>

<p>Proposed venues:</p>
<ol>
  <%= render partial: "voting_line_item", collection: @tour.tour_stops, as: :tour_stop %>
</ol>

<!-- User can only propose tour stops if she has joined the event, or is the event organizer. -->
<%= link_to 'Propose a tour stop', new_tour_stop_path(tour_id: @tour.id) %>
