<%= link_to 'Home', root_path %> |
<%= link_to "Log out", root_url, method: :delete %>

<p id="notice"><%= notice %></p>

<h1><%= @tour.name %></h1>

<p>
  <strong>Organizer:</strong>
  <%= image_tag avatar_url(@tour.organizer) %>
  <%= @tour.organizer.name %>
</p>

<p>
  <strong>Begins:</strong>
  <%= @tour.starting_at %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tour.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>



<%= hidden_div_if(!@tour.organized_by?(@current_user)) do %>
  <%= @tour.status %> | <%= link_to 'Edit', edit_tour_path(@tour) %>
<% end %>



<%= hidden_div_if(@tour.organized_by?(@current_user)) do %>
  <%= render partial: "rsvp_button" %>
<% end %>



<!-- User can only propose tour stops for a pending tour if she has an invitation to the event. -->
<%= hidden_div_if(!((@tour.status === "pending") && (@tour.invitation_for(@current_user).exists?))) do %>
  <%= link_to 'Propose a tour stop', new_tour_stop_path(tour_id: @tour.to_param) %>
<% end %>


<%= hidden_div_if(@tour.status === "finalized") do %>
  <h3>Proposed venues:</h3>
  <ol id="venues-maybe">
    <%= render partial: "voting_line_item", collection: @tour.tour_stops.where(status: 0).sort_by(&:total_score).reverse, as: :tour_stop %>
  </ol>
  <h3>Rejected venues:</h3>
  <ol id="venues-no">
    <%= render partial: "voting_line_item", collection: @tour.tour_stops.where(status: 2).sort_by(&:total_score).reverse, as: :tour_stop %>
  </ol>
<% end %>

<h3>Accepted venues:</h3>
<ol id="venues-yes">
  <%= render partial: "voting_line_item", collection: @tour.tour_stops.where(status: 1).sort_by(&:total_score).reverse, as: :tour_stop %>
</ol>



<%= render partial: "finalization_button" %>



<p>People attending:</p>
<ol>
  <% Invitation.where(tour_id: @tour.id).each do |invitation| %>
  <li><%= image_tag avatar_url(invitation.user) %><%= invitation.user.name %></li>
  <% end %>
</ol>