<div class="form-title row">
  <h1>All venues:</h1>
</div>

<hgroup class="row text-center">
  <div class="row">
    <div class="large-4 columns text-left"><h3 class="red"><%=h "<Img><Name>" %></h3></div>
    <div class="large-2 columns"><h3 class="red"><%=h "<City>" %></h3></div>
    <div class="large-3 columns"><h3 class="red"><%=h "<Lat, Long>" %></h3></div>
    <div class="large-2 columns end"><h3 class="red"><%=h "<Rating>" %></h3></div>
  </div>
</hgroup>

<ol class="row text-center content">
  <% @venues.each do |venue| %>
    <li class="row" data-equalizer>
      <div class="large-4 columns text-left" data-equalizer-watch><h5><%= image_tag venue_thumbnail_url(venue) %> <%= venue.name %></h5></div>
      <div class="large-2 columns" data-equalizer-watch><h5><%= venue.city.name %></h5></div>
      <div class="large-3 columns" data-equalizer-watch><h5><%= venue.latitude %>, <%= venue.longitude %></h5></div>
      <div class="large-2 columns" data-equalizer-watch><h5><%= venue.stars %> / <%= venue.rating_count %></h5></div>
      <div class="large-1 columns" data-equalizer-watch>
        <h5>
          <%= link_to venue, class: 'borderless-button' do %>
            <%= fa_icon :eye %>
          <% end %>
          <%= link_to edit_venue_path(venue), class: 'borderless-button' do %>
            <%= fa_icon :pencil %>
          <% end %>
        </h5>  
      </div>      
    </li>
  <% end %>
</ol>

<div class="row">
  <div class="large-6 large-centered columns">
    <%= link_to new_venue_path, class: 'large success button expand' do %>
      <%= fa_icon :plus %> Add a new venue
    <% end %>
  </div>
</div>

