<%= form_for @e_invitation, builder: FoundationFormBuilder, class: 'content' do |f| %>
  <%= f.email_field :email, autofocus: true, required: true,
          placeholder: "mybestfriend@gmail.com", label: "E-mail"%>
          
  <%= f.hidden_field :tour_id %>
  
  <div class="form-submit-controls row">
    <%= button_tag class: 'large button expand' do %>
      <%= fa_icon :plus %> Send invitation
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <% @current_user.friends.each do |friend| %>
      <% if !@tour.invitees.exists?(id: friend.to_param) %>
        <%= form_for @tour.new_invitation_for(friend) do |f| %>
          <%= f.hidden_field :recipient_id %>
          <%= f.hidden_field :tour_id %>
          <%= f.button type: :submit, class: 'borderless-button' do %>
            <%= avatar_tag friend, "medium" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

  
