<h1>Listing e_invitations</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Tour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @e_invitations.each do |e_invitation| %>
      <tr>
        <td><%= e_invitation.sender %></td>
        <td><%= e_invitation.recipient %></td>
        <td><%= e_invitation.tour_id %></td>
        <td><%= link_to 'Show', e_invitation %></td>
        <td><%= link_to 'Edit', edit_e_invitation_path(e_invitation) %></td>
        <td><%= link_to 'Destroy', e_invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New E invitation', new_e_invitation_path %>
