<%= form_for @city, builder: FoundationFormBuilder do |f| %>
  <%= f.text_field :name, autofocus: true, required: true,
          placeholder: "Vienna", label: 'Name' %>

  <%= f.text_field :latitude, required: true,
          placeholder: "48.2206849", label: 'Latitude' %>
          
  <%= f.text_field :longitude, required: true,
          placeholder: "16.3800599", label: 'Longitude' %>          

  <div class="action row">
    <%= button_tag class: 'large button expand' do %>
      <%= fa_icon :save %> Add city
    <% end %>
  </div>
<% end %>
