<!-- Show 20 venues located in the tour's city, which haven't already been proposed. -->
<div class="content row">
  <ul class="venue-list large-12 columns">
    <% @venue_search_results.each do |venue| %>
      <li>
        <div class="venue-image">
          <%= image_tag venue_thumbnail_url(venue) %>
        </div>
        <div class="venue-data">
          <span class="venue-name">
            <%= link_to venue.name, "//www.yelp.com/biz/#{venue.yelp_id}", target: "_blank", data: venue_name_data(venue) %>
          </span>
          <%= render partial: "venues/venue_dropdown", locals: {venue: venue} %>
          <span class="venue-name">
            <%= venue_rating_stars(venue) %>
          </span>
        </div>
        
        <div class="venue-add">
          <%= form_for @tour_stop do |f| %> 
            <%= f.button type: :submit, class: "radius button" do %>
              <%= fa_icon :'plus' %>
            <% end %>
            <%= f.hidden_field :tour_id %>
            <%= f.hidden_field :venue_id, value: venue.to_param %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
  
<div class="row">
  <div class="large-6 large-centered columns">
    <%= link_to tour_path(@tour_stop.tour), class: 'secondary button left-side' do %>
      <%= fa_icon :undo %> Cancel
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-10 large-centered columns text-center">
    <%= paginate @venue_search_results %>
  </div>
</div>
