<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Puborbar" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Puborbar', root_path %></h1>
        </li>
      </ul>
      
      <% if @current_user %>
        <section class="top-bar-section">
          <ul class="left">
            <li><%= link_to 'My Events', root_path %></li>
            <li><%= link_to "New Event", new_tour_path %></li>
          </ul>
          <ul class="right user-menu">
            <li class="has-dropdown">
              <!--<%= avatar_and_name_tag @current_user, "small" %>-->
              <a><%= avatar_and_name_tag @current_user, "small" %></a>
              <ul class="dropdown">
                <li><%= link_to "Account Settings", "#" %></li>
                <li><%= link_to "Log out", root_url, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </section>
      <% end %>
    </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="//maps.googleapis.com/maps/api/js?callback=onGoogleMapsLoad&key=AIzaSyACqnur47PGOEfJW3WLm-AbU2brp5FddaM"></script>
  </body>
</html>